body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
}

.grid-container {
    display: grid;
    max-width: 100%;
    background-image: url(../img/home_bg_v2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    grid-template-areas: 'logo menu menu login empty2''main main main main main''category category category category category''ads ads ads ads ads''footer footer footer footer footer''credit credit credit credit credit';
}

.item1 {
    grid-area: logo;
    background: rgba(55, 66, 82, 0.4);
    height: 13vh;
    position: sticky;
    top: 0;
    z-index: 1;
}

.item1 img {
    padding-top: 3vh;
    padding-left: 25vh;
}

.item2 {
    grid-area: menu;
    background: rgba(55, 66, 82, 0.4);
    height: 10vh;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 3vh;
}

.item2 ul li {
    list-style-type: none;
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.item2 li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.item3 {
    grid-area: login;
    background: rgba(55, 66, 82, 0.4);
    height: 13vh;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.item3 i {
    padding: 5vh 5% 0 5%;
}

.item3 a {
    color: white;
}

.item4 {
    grid-area: empty2;
    background: rgba(55, 66, 82, 0.4);
    height: 13vh;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-right: 25vh
}

.item4 button {
    width: 80%;
    padding: 12px 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    margin: 3vh 0;
    display: inline-block;
    border: 1px solid rgb(250, 128, 114);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(250, 128, 114);
    color: white;
}

.item5 {
    grid-area: main;
    text-align: center;
    color: white;
    padding-top: 12vh;
    padding-bottom: 25vh;
}

.item5 input {
    width: 15%;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 1;
}

.item5 select {
    width: 15%;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 1;
}

.item5 button {
    width: 10%;
    padding: 12px 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(250, 128, 114);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(250, 128, 114);
    color: white;
}

.item6 {
    grid-area: category;
    background-color: #F9F9F9;
}

#button-wrap {
    box-shadow: 0 -12px 10px 0 rgba(42, 47, 54, .3);
    background-color: #F9F9F9;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5% 0.5%;
    width: 55%;
    margin-left: 22%;
    margin-top: -15vh;
}

#button-wrap a {
    text-decoration: none;
    color: black;
}

#apartments,
#houses,
#garages,
#business,
#land {
    box-sizing: border-box;
    width: 10vw;
    height: 18vh;
    background-color: white;
    text-align: center;
    padding: 20%;
    border-radius: 4px;
}

#apartments:hover,
#houses:hover,
#garages:hover,
#business:hover,
#land:hover {
    background-color: rgb(250, 128, 114);
    color: white;
}

.item7 {
    grid-area: ads;
    background-color: #F9F9F9;
    text-align: center;
}

.item7 h1 {
    background-color: rgb(250, 128, 114, .7);
    color: white;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.10);
    padding: 1% 0;
}

.ads-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5% 2% 5%;
}

.ads img {
    width: 100%;
    padding-bottom: 1%;
}

.ads img:hover {
    transform: scale(1.1);
}

.ads {
    font-size: 0.7vw;
    width: 23%;
    margin: 1% 0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.10);
    background-color: white;
}

.ads-descr {
    text-align: left;
    padding-left: 5%;
}

.ads i {
    float: right;
    padding: 0 2%;
}

.ads a {
    text-decoration: none;
    color: black;
}

.single-ad-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    min-height: 35vh;
    padding-top: 5vh;
    padding: 0 7% 0 10%;
}

.single-ad-img,
.single-ad-data,
.single-ad-seller {
    width: 30%;
}

.single-ad-data {
    padding-top: 5vh;
}

.single-ad-img img {
    position: absolute;
    width: 30%;
    left: 7%;
    right: 0;
    opacity: 0;
    animation-name: fade;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}

.single-ad-img img:nth-child(1) {
    animation-delay: 0s;
}

.single-ad-img img:nth-child(2) {
    animation-delay: 6s;
}

.single-ad-img img:nth-child(3) {
    animation-delay: 12s;
}

hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
    width: 80%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    11.11% {
        opacity: 1;
    }

    33.33% {
        opacity: 1;
    }

    44.44% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.detailed-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 5% 0 5%;
    padding-bottom: 1vh;
}

.single-ad-seller button {
    width: 40%;
    padding: 12px 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(250, 128, 114);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(250, 128, 114);
    color: white;
}

.single-ad-detailed {
    width: 50%;
}

.single-ad-map {
    width: 50%;
}

.single-ad-map img {
    width: 60%;
}

.item8 {
    grid-area: footer;
    background-color: #374252;
    color: white;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    padding: 1% 2%;
    width: 30%;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer button {
    width: 30%;
    padding: 12px 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(250, 128, 114);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(250, 128, 114);
    color: white;
}

.footer input {
    width: 40%;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.item9 {
    grid-area: credit;
    background-color: antiquewhite;
    text-align: justify;
}

.login-container input {
    width: 49%;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 12px 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(250, 128, 114);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(250, 128, 114);
    color: white;
}

.login-container a h5 {
    color: black;
    text-align: center;
    font-size: 12px;
}

.login-container a {
    text-decoration: none;
}

.login-container {
    padding: 0 5% 0 5%;
}

.login-img {
    font-size: 16px;
    padding: 0 5% 0 5%;
    background-color: #374252;
}

.login-img img {
    width: 30%;
    padding-top: 1%;
}

.login-title {
    font-size: 14px;
    padding-left: 5%;
}