body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
}

.grid-container {
    display: grid;
    max-width: 100%;
    background-image: url(../img/home_bg_v2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    grid-template-areas: 'logo menu menu login empty2''main main main main main''category category category category category''item-search item-search item-search item-search item-search''ads ads ads ads ads''footer footer footer footer footer';
}

.item1 {
    grid-area: logo;
    background: rgba(55, 66, 82, 0.8);
    transition: background-color 1s linear;
    position: sticky;
    top: 0;
    z-index: 1;
}

.item1 img {
    padding-left: 10vw;
    width: 20vw;
}

.item2 {
    grid-area: menu;
    background: rgba(55, 66, 82, 0.8);
    transition: background-color 1s linear;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 5%;
}

.item2 ul li {
    list-style-type: none;
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.item2 li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.item2 a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -2px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.item2 a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.item3 {
    grid-area: login;
    background: rgba(55, 66, 82, 0.8);
    transition: background-color 1s linear;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.item3 i {
    padding: 20% 10%;
}

.item3 a {
    color: white;
}

.item4 {
    grid-area: empty2;
    background: rgba(55, 66, 82, 0.8);
    transition: background-color 1s linear;
    position: sticky;
    top: 0;
    z-index: 1;
}

.item4 button {
    width: 80%;
    padding: 12px 10px;
    margin: 10% 0;
}

button {
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    border: 1px solid rgb(250, 128, 114);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(250, 128, 114);
    color: white;
    cursor: pointer;
    outline-color: rgb(236, 50, 50);
}

button:hover {
    transition: 0.5s ease;
    border: 1px solid rgba(250, 100, 100);
    background-color: rgb(250, 100, 100);
}

input {
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 1;
}

/*CSS stil za checkbox*/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 1px solid #ccc;
    background: white;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    content: '\2713';
    position: absolute;
    top: .15em;
    left: .22em;
    font-size: 1.3em;
    line-height: 0.8;
    color: rgb(236, 50, 50);
    transition: all .2s;
}

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

.item-search label:hover:before {
    border: 1.5px solid rgb(250, 128, 114) !important;
}

/*CSS stil za checkbox*/
select {
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 1;
}

.item5 {
    grid-area: main;
    text-align: center;
    color: white;
    padding-top: 12vh;
    padding-bottom: 25vh;
}

.item5 input {
    width: 15%;
}

.item5 select {
    width: 15%;
}

.item5 button {
    width: 10vw;
    padding: 12px 20px;
    margin: 8px 0;
}

.item5 a {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.item5 a:hover {
    transition: 0.5s ease;
    color: rgb(236, 50, 50);
}

.item6 {
    grid-area: category;
    background-color: #F9F9F9;
}

#button-wrap {
    box-shadow: 0 -12px 10px 0 rgba(42, 47, 54, .3);
    background-color: #F9F9F9;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5% 0.5%;
    width: 55%;
    margin-left: 22%;
    margin-top: -15vh;
}

#button-wrap a {
    text-decoration: none;
    color: black;
}

#apartments,
#houses,
#garages,
#business,
#land {
    box-sizing: border-box;
    width: 10vw;
    height: 18vh;
    background-color: white;
    text-align: center;
    padding: 20%;
    border-radius: 4px;
}

#apartments:hover,
#houses:hover,
#garages:hover,
#business:hover,
#land:hover {
    background-color: rgb(250, 128, 114);
    transition: 0.5s ease;
    color: white;
}

.item7 {
    grid-area: ads;
    background-color: #F9F9F9;
    text-align: center;
}

.item7 h1 {
    background-color: rgb(250, 128, 114);
    color: white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    padding: 1% 0;
}

.item7 h2 {
    padding-top: 2%;
}

.ads-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5% 2% 5%;
}

.ads img {
    width: 100%;
    padding-bottom: 1%;
}

.ads {
    font-size: 0.7vw;
    width: 23%;
    margin: 1% 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    background-color: white;
}

.ads:hover {
    transform: scale(1.04, 1.04);
    transition: 0.7s ease;
    cursor: pointer;
}

.ads-descr {
    text-align: left;
    padding-left: 5%;
}

.ads i {
    float: right;
    padding: 0 2%;
}

.ads a {
    text-decoration: none;
    color: black;
}

.single-ad-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    min-height: 35vh;
    margin: 2% 5% 2% 5%;
    text-align: left;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    background-color: white;
}

.single-ad-img {
    width: 40%;
}

.single-ad-data,
.single-ad-seller {
    width: 20%;
}

.single-ad-map {
    width: 33%;
    padding-top: 2%;
}

#map-text {
    text-align: center;
}

.single-ad-tour {
    padding-left: 3%;
    width: 25%;
    padding-bottom: 2%;
}

.single-ad-tour input {
    width: 75%;
}

.single-ad-tour button {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
}

.single-ad-rest {
    padding-right: 3%;
    padding-top: 2%;
    width: 25%;
}

.single-ad-map img {
    width: 100%;
}

.single-ad-img img {
    position: absolute;
    width: 40%;
    left: 3%;
    right: 0;
    opacity: 0;
    animation-name: fade;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    padding-top: 2vh;
}

.single-ad-detailed {
    padding: 0 3% 2% 3%;
}

.single-ad-img img:nth-child(1) {
    animation-delay: 0s;
}

.single-ad-img img:nth-child(2) {
    animation-delay: 6s;
}

.single-ad-img img:nth-child(3) {
    animation-delay: 12s;
}

hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
    width: 80%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    11.11% {
        opacity: 1;
    }

    33.33% {
        opacity: 1;
    }

    44.44% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.single-ad-seller button {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
}

.single-ad-seller i {
    padding-right: 10%;
}

.item8 {
    grid-area: footer;
    background-color: #374252;
    color: white;
    text-align: center;
}

.item8 img {
    width: 40%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    padding: 1% 2%;
    width: 30%;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer button {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
}

.footer input {
    width: 40%;
}

.item-search {
    grid-area: item-search;
    background-color: #F9F9F9;
    box-sizing: border-box;
    text-align: center;
}

.show {
    display: none;
}

.item-search select {
    width: 13.5%;
}

.item-search ul li {
    list-style-type: none;
    padding: 2px;
    display: inline-flex;
}

.login-container input {
    width: 49%;
    font-size: 14px;
}

.login-container button {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
    margin: 8px 0;
}

.login-container a h5 {
    color: black;
    text-align: center;
    font-size: 12px;
}

.login-container a {
    text-decoration: none;
}

.login-container {
    padding: 0 5% 0 5%;
}

.login-img {
    font-size: 16px;
    padding: 0 5% 0 5%;
    background-color: #374252;
}

.login-img img {
    width: 30%;
    padding-top: 1%;
}

.login-title {
    font-size: 14px;
    padding-left: 5%;
}
